@model CommitInputViewmodel

@{
    ViewData["Title"] = "Commit to Repository";
}

<form method="post" asp-action="Commit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-light">Commit to @Model.RepoName</h2>
            <hr />
        </div>
        <input asp-for="RepoId" hidden/>
        <input asp-for="RepoName" hidden />
        <div asp-validation-summary="All"></div>
        <div class="mb-3" style="width:50%">
            <label asp-for="Title">Commit Name</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RepoContent" class="form-label mt-4">Repository Content</label>
            <textarea class="form-control" asp-for="RepoContent" id="exampleTextarea" rows="6" spellcheck="false"></textarea>
            <span asp-validation-for="RepoContent" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-warning" style="width:150px">Commit</button>
            <a asp-controller="Repository" asp-action="Details" asp-route-id="@Model.RepoId" class="btn btn-secondary" style="width:150px">Back</a>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}